@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,300;1,500&family=New+Rocker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,300;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,400;1,600;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Verdana, sans-serif;
    text-decoration: none;
}

img{
    height: 65px;
}

body{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(36, 36, 36);
}

.logo p, .logo a{
    font-size: 36px;
    font-weight: 800;
    color: white;
    margin-left: 2em;
    font-family: 'New Rocker', 'Montserrat', 'Poppins', Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    list-style: none;
    gap: 5em;
    margin-right: 50px;
}

.menu a{
    font-size: 22px;
    color: white;
}


